{% extends 'base.html' %}

  {% block content %}    

  {% for post in featured_posts %}
    {% if forloop.first %}
   <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark"
     style="background-image: url('{{ post.featured_image.url }}'); background-size: cover; background-position: center; background-blend-mode: overlay;">

      <div class="col-md-8 px-0">
        <h1 class="display-4">{{ post.title }}</h1>
        <p class="lead my-3">{{ post.short_description | truncatewords:25 }}</p>
        <p class="lead mb-0"><a href="{% url 'blogs' post.slug  %}" class="text-white font-weight-bold">Continue Reading...</a></p>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  <!-- Featured Posts -->
  <h3 class="text-uppercase text-warning">Featured Posts</h3>
  <div class="row mb-2">
    {% for post in featured_posts %}
      {% if not forloop.first %}
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
          <h3><a href="{% url 'blogs' post.slug  %}" class="text-dark">{{ post.title }}</a></h3>
          <small class="mb-1 text-muted">{{ post.created_at | timesince }} ago | {{ post.author }}</small>
          <p class="card-text">{{ post.short_description | truncatewords:25 }}</p>
        </div>
      </div>
    </div>
      {% endif %}
    {% endfor %}
    
  </div>


  <!-- Recent Articles -->
  <h3 class="text-uppercase text-warning">Recent Articles</h3>
  <main role="main" class="container p-0">
    <div class="row">
      <div class="col-md-8 blog-main">
        {% for post in posts %}
        <div class="card border-0" >
          <div class="card-body">
            <h3> <a href="{% url 'blogs' post.slug  %}" class="text-dark">{{ post.title }}</a></h3>
            <small class="mb-1 text-muted">{{ post.created_at | timesince }} ago | {{ post.author }}</small>
            <p class="card-text">{{ post.short_description | truncatewords:25 }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- /.blog-main -->

      <aside class="col-md-4 blog-sidebar">
        <div class="p-3 mb-3 bg-light rounded">
          <h4 class="font-bold">{{ about.about_heading }}</h4>
          <p class="mb-0">{{ about.about_description }}</p>
        </div>

       {% if social_links %}
          <div class="p-3">
          <h4 class="mb-3">Follow Us</h4>
  <div class="d-flex flex-wrap gap-3">
    {% for i in social_links %}
      <a
        href="{{ i.link }}"
        target="_blank"
        class="text-dark fs-5 mx-2 d-flex align-items-center border-none"
        title="{{ i.platform }}"
      >
        {% if "facebook" in i.platform|lower %}
          <i class="fa fa-facebook-square me-2 mr-2"></i> Facebook
        {% elif "twitter" in i.platform|lower %}
          <i class="fa fa-twitter-square me-2 mr-2"></i> Twitter
        {% elif "instagram" in i.platform|lower %}
          <i class="fa fa-instagram me-2 mr-2"></i> Instagram
        {% elif "linkedin" in i.platform|lower %}
          <i class="fa fa-linkedin-square me-2 mr-2"></i> LinkedIn
        {% elif "youtube" in i.platform|lower %}
          <i class="fa fa-youtube-play me-2 mr-2"></i> YouTube
        {% elif "github" in i.platform|lower %}
          <i class="fa fa-github me-2 mr-2"></i> GitHub
        {% else %}
          <i class="fa fa-globe me-2 mr-2"></i> Website
        {% endif %}
      </a>
    {% endfor %}
  </div>
          </div>

        {% endif %}


      </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

  </main><!-- /.container -->

</div>

{% endblock %}
